@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
    cursor: url(images/cursor.png), auto;
    background-color: #000;
    background-image: url(images/stars.gif);
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
}

a {
    color: #ef3c31;
    border: 5px solid transparent;
    text-decoration: none;
}

a:hover {
    background-color: #fef494;
}

a:active{
  cursor: url(images/cursor.png), auto;
}

main {
    margin: 0px auto 0px auto;
    width: 900px;
    position: relative;
}


#current{
  position: absolute;
  left: 412px;
  top: 275px;
}

#submit{
  position: absolute;
  left: 205px;
  top: 495px;
}

#about{
  position: absolute;
  left: 602px;
  top: 187px;
}

#archive{
  position: absolute;
  left: 148px;
  top: 172px;
}

#symptom{
  position: absolute;
  left: 448px;
  top: 568px;
}

aside{
  color: #fef494;
  font-size: 20px;
  position: absolute;
  top: 854px;
  left: 3px;
  width:924px;
  height:50px;
  background-color: #000;
  display:none;
  border-bottom: 1px solid black;
}
aside p {
  position: relative;
  top: 15px;
  text-align: center;
}
aside #close, #close1, #close2, #close3, #close4{
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 50px;
  color: #ef3c31;
}

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1000px;
}
