@charset "UTF-8";
/* CSS Document */

/* start all css with a reset */

* {
  margin: 0px;
  padding: 0px
}

body {
  cursor: url(images/cursor_small.png) 16 35, auto;
  background-color: #000;
  background-image: url(images/stars.gif);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin-top: -30px;
  margin-left: -10px;
  transform: scale(.88);
}

body:active {
  cursor: url(images/cursor_inverse.png) 16 35, auto;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 900px;
}

a {
  color: #ef3c31;
    cursor: url(images/cursor_hover.png) 16 35, auto;
  /* border: 5px solid transparent;
  text-decoration: none; */  }

  a:active {
    cursor: url(images/cursor_small.png) 16 35, auto;

}

a:hover {
  cursor: url(images/cursor_hover.png) 16 35, auto;
}

a:active {
cursor: url(images/cursor_inverse.png) 16 35, auto;}

#main {
  /* pointer-events: none; */
}

#current {
  position: absolute;
  left: 412px;
  top: 275px;
}

#submit {
  position: absolute;
  left: 205px;
  top: 495px;
}

#about {
  position: absolute;
  left: 602px;
  top: 187px;
}

#archive {
  position: absolute;
  left: 148px;
  top: 172px;
}

#symptom {
  position: absolute;
  left: 448px;
  top: 568px;
}

aside {
  z-index: 100;
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 230px;
  left: 20px;
  width: 900px;
  height: 530px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 0px 25px 25px 25px;
}

.tab {
  position: absolute;
  top: -71px;
  left: -1px;
  width: 300px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
}

.line {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 600px;
  height: 500px;
  border-top: 1px solid white;
  border-radius: 0px 25px 25px 25px;
}

p.tabtext {
  font-family: 'Inconsolata', monospace;
  margin-top: 20px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(228, 226, 59, 0.9);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
}

.closetext {
  font-family: 'Inconsolata', monospace;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
  width: 830px;
  margin-left: -20px;
  background-color: rgba(228, 226, 59, 0.9);
  text-align: center;
    display:block;
}

.content {
  height:390px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px 5px 0px 0px;
}

p{
  margin-bottom: 10px;
}

.centerimg {
  padding-top: 5px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

h4 {
  font-size: 18px;
}

h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
}

h6 {
  margin-top: 0px;
  font-size: 16px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 1000px;
}
