/* how to prevent scrollbar? maybe only on FF */
html, body{
  margin: 0;
  padding: 5px;

}
canvas {
  margin: 20px;
  border: 1px solid black;
}
/* note that a gap appears in between the canvas elements since they are inline replaced elements */
