@charset "UTF-8";
/* CSS Document */

/* start all css with a reset */

body {
  margin: 0;
  /* padding: 20px; */
  font-family: 'Yantramanav', sans-serif;
  background-color: black;
  background-image: url('sunflowerbg.png');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center top;
}


.responsive {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

header{
  max-width: 960px;
margin-left: auto;
margin-right: auto;
  padding: 10px;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Vollkorn', serif;
}

h2 {
  font-family: 'Yantramanav', sans-serif;
  color: #15572c;
  text-shadow: 2px 2px #cce0ca;
}

.quiz {
  /* max-width: 980px; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 270px; */
}

.quizbg{
  width: 80%;
  max-width: 980px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 20px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quiz-question {
  font-weight: bold;
  display: block;
  padding: 40px 0 30px 0;
  margin: 0;
}

.quiz-question1 {
margin-left: 152px;
}

.alien {
  margin-left: 20px;
  float: left;
}

.meme {
clear: both;
}

aside{
  float: left;
}

form{
  margin-left: auto;
}

.quiz-answer {
  margin: 0;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px dashed transparent;
}

.quiz-answer-emoji{
    display: inline;
    padding: 34px;
}

.quiz-emoji{
  padding-bottom: 30px;
}

.quiz-answer:hover {
  color: #ef8700;
  text-decoration: underline;
}

p a {
  margin-left: 460px;
  color: #98bf96;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  border-bottom: 1px solid #18562e;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -o-opacity: 0;
}

input[type="radio"]+label {
  position: relative;
  padding: 20px;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 10px 0;
  cursor: pointer;
  margin-left: -15px;
}

input[type="radio"]+label:before {
  /* content: ""; */
  display: none;
  /* display: block;
  position: absolute;
  top: 1px;
  height: 15px;
  width: 15px;
  background: white;
  border: 2px solid #18562e;
  border-radius: 10px; */
  cursor: pointer;

}

input[type="radio"]:checked+label:before {
  background: #ef8700;
  cursor: pointer;
}

input[type="radio"]:checked+label {
  color: #ef8700;
  text-decoration: underline;
  cursor: pointer;
    background: white;
}


input[type=submit] {
  float: left;
  margin-top: 30px;
  width: 49%;
  background-color: #98bf96;
  color: #15572c;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #18562e;
  color: white;
}

input[type=reset] {
  float: right;
  margin-top: 30px;
  color: #15572c;
  width: 49%;
  background-color: #f3eaab;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #dac97c;
  color: white;
}

#message {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.spacer{
  margin-bottom: 70px;
}

.column1{
  float: left;
  width: 50%;
}

.column2{
  float: left;
  width: 50%;
}

.buttons{
  clear:both;
}
