/* how to prevent scrollbar? maybe only on FF */

html {
  margin: auto;
}

@media only screen and (max-width: 900px) and (min-height: 700px) {
    html {
        overflow: hidden;
    }
}

body {
  /* Location of the image */
  background-image: url("images/bg1.png");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

@media only screen and (max-width: 900px) and (min-height: 700px) {
    body {
        overflow: hidden;
    }
}

header{
  text-align: center;
  margin: 3rem;
}

.responsive {
    width: 100%;
    max-width: 900px;
    height: auto;
    padding: 20px;
    margin-left: -20px;
    background-color: rgba(206, 59, 149, 0.3);
    box-shadow: 0 0 200px rgba(206, 59, 149, 0.7);
    border-radius: 20px;
}

section{
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

h1{
  font-family: 'Inconsolata', monospace;
  color:#fff;
  text-shadow: 0 0 10px #ce3895, 0 0 20px #0000FF;
}

canvas {
  box-shadow: 0 0 200px rgba(87, 234, 206, 0.8);
  border-radius: 10px;
}

#canvascontainer{
  margin:auto;
}

button#saveButton {
  float: left;
    margin-top:20px;
    width: 44%;
    background-color: #f4ad21;
    color: #fff;
    text-shadow: 1px 1px 3px #bc5e19;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: 10px;

  }

button#saveButton:hover {
      background-color: #bc5e19;
      color: white;
  }

button#clearButton {
      float: left;
      margin-top:20px;
      color: #6e4677;
        width: 44%;
        background-color: #fff;
        padding: 14px 20px;
        margin-bottom: 50px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 5px;
    }

button#clearButton:hover {
        background-color: #f2d7f9;
        color: #6e4677; }


/* note that a gap appears in between the canvas elements since they are inline replaced elements */
